# general logging
rainbow-logging-handler

# database server
tornado
jsonschema

# log server
sqlalchemy

# vacuum interface
pyusb
pigpio
appdirs
six
packaging

# scale interface
pyserial

# unit test coverage
pytest-cov

# general
numpy
# opencv        # manual install

# point cloud colorizing
matplotlib
scipy

# IPython embedded shell
# IPython
# enum
# ipython_genutils
# scandir

# user interface
# pyqt          # manual install
# pyside        # manual install
# pyopengl      # manual install

# server restarts
psutil

# Python 3 compatibility
future
